.card-attribute {
  font-weight: bold;
}

.card-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-color: 1px solid #0ff000;
}

.card {
  display: inline-block;
  margin: 20px;
}

.card-body {
  padding: 20px;
  transition: all 0.1s linear;
  font-size: 24px;
  box-shadow: 0px 0px 6px #000000;
}

.card-body:hover {
  box-shadow: 0px 0px 6px #000000;
}

p {
  font-size: 16px;
}

span {
  font-size: 16px;
}
