<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="wrapper">
    <h1><u>Add Job</u></h1>
    <div id="formContent">
      <table>
        <tbody>
          <tr
            [ngClass]="{
              'has-error':
                formGroup.get('category').errors &&
                formGroup.get('category').touched
            }"
          >
            <td>
              <label for="category" class="control-label">Category</label>
            </td>
            <td>
              <select
                id="category"
                formControlName="category"
                (change)="categorySelected($event)"
                class="form-control"
              >
                <option value="" [disabled]="true">Choose One</option>
                <option
                  *ngFor="let category of categories"
                  value="{{ category.category }}"
                  >{{ category.category }}</option
                >
              </select>
              <span
                class="help-block"
                *ngIf="
                  formGroup.get('category').errors &&
                  formGroup.get('category').touched
                "
              >
                <span *ngIf="formGroup.get('category').errors">
                  Category is required
                </span>
              </span>
            </td>
          </tr>
          <tr
            [ngClass]="{
              'has-error':
                formGroup.get('designation').errors &&
                formGroup.get('designation').touched
            }"
          >
            <td>
              <label for="designation" class="control-label">Designation</label>
            </td>
            <td>
              <select
                id="designation"
                formControlName="designation"
                class="form-control"
              >
                <option value="" [disabled]="true">Choose One</option>
                <option
                  *ngFor="let levels of designation"
                  value="{{ levels }}"
                  >{{ levels }}</option
                >
              </select>
              <span
                class="help-block"
                *ngIf="
                  formGroup.get('designation').errors &&
                  formGroup.get('designation').touched
                "
              >
                <span *ngIf="formGroup.get('designation').errors">
                  Designation is required
                </span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="description">Description</label>
            </td>
            <td>
              <textarea
                id="description"
                formControlName="description"
                class="form-control"
              ></textarea>
            </td>
          </tr>
          <tr
            [ngClass]="{
              'has-error':
                formGroup.get('lastDate').errors &&
                formGroup.get('lastDate').touched
            }"
          >
            <td>
              <label for="lastDate" class="control-label">Last Date</label>
            </td>
            <td>
              <input
                id="lastDate"
                type="date"
                formControlName="lastDate"
                class="form-control"
              />
              <span
                class="help-block"
                *ngIf="
                  formGroup.get('lastDate').errors &&
                  formGroup.get('lastDate').touched
                "
              >
                <span *ngIf="formGroup.get('lastDate').errors">
                  Last Date is required
                </span>
              </span>
            </td>
          </tr>
          <tr
            [ngClass]="{
              'has-error':
                formGroup.get('paySalary').errors &&
                formGroup.get('paySalary').touched
            }"
          >
            <td><label for="paySalary" class="control-label">Salary</label></td>
            <td>
              <input
                type="text"
                id="location"
                formControlName="paySalary"
                placeholder="0"
                class="form-control"
              />
              <span
                class="help-block"
                *ngIf="
                  formGroup.get('paySalary').errors &&
                  formGroup.get('paySalary').touched
                "
              >
                <span *ngIf="formGroup.get('paySalary').errors">
                  Salary is required
                </span>
              </span>
            </td>
          </tr>
          <tr
            [ngClass]="{
              'has-error':
                formGroup.get('location').errors &&
                formGroup.get('location').touched
            }"
          >
            <td>
              <label for="location" class="control-label">Location</label>
            </td>
            <td>
              <select
                id="location"
                formControlName="location"
                (change)="locationSelected($event)"
                class="form-control"
              >
                <option value="" [disabled]="true">Choose One</option>
                <option
                  *ngFor="let location of locations"
                  value="{{ location.location }}"
                >
                  {{ location.location }}
                </option>
              </select>
              <span
                class="help-block"
                *ngIf="
                  formGroup.get('location').errors &&
                  formGroup.get('location').touched
                "
              >
                <span *ngIf="formGroup.get('designation').errors">
                  Location is required
                </span>
              </span>
            </td>
          </tr>
          <tr>
            <td><label for="bond">Bond Period</label></td>
            <td>
              <input
                type="text"
                id="bond"
                formControlName="bondDetail"
                placeholder="0"
                class="form-control"
              />
            </td>
          </tr>
          <tr>
            <td><label for="years">Experience Years</label></td>
            <td>
              <input
                type="text"
                id="years"
                formControlName="experienceYears"
                placeholder="1"
                class="form-control"
              />
            </td>
          </tr>
        </tbody>
      </table>

      <form formArrayName="skillForm" (ngSubmit)="addSkill()">
        <div class="row">
          <div class="col-sm-3" style="margin-top: 22px">
            <label for="addSkill">Add Skill</label>
          </div>
        </div>
        <div
          class="container"
          [formGroupName]="i"
          *ngFor="let skill of skillForm.controls; let i = index"
        >
          <!-- <div class="col-sm-7"> -->
          <input
            class="myclass form-control"
            type="text"
            placeholder="add skill"
            formControlName="skillName"
          />
          <!-- </div> -->
        </div>
        <button type="submit" class="btn btn-primary">Add</button>&nbsp;&nbsp;
        <button type="reset" class="btn btn-danger" (click)="resetSkills()">
          Remove
        </button>
      </form>
      <button (click)="addSkill()">Prs</button>

      <input type="submit" value="Add Job" />
    </div>
  </div>
</form>
