<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="text-center" *ngIf="loading">
    <h1>loading...</h1>
  </div>
  <div class="wrapper" *ngIf="!loading">
    <h1><u>Add Category</u></h1>
    <div id="formContent">
      <label for="category" style="font-size: 16px">Category Name</label>
      <input
        type="text"
        id="category"
        formControlName="category"
        placeholder="SDE"
      />
      <input type="submit" value="Add Category" />
    </div>
  </div>
</form>
